body {
    font-family: Helvetica;
    background-color: #101010;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    margin-right: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.5s;
}

input:hover {
    padding: 15px;
    font-size: 16px;
    transition: 0.8s;
}

button {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: #00ffcc;
    color: #000;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.5s;
}

button:hover {
    background-color: #008b70;
    padding: 15px;
    font-size: 14px;
    transition: 0.8s;
}

.lista-container {
    display: flex;
    justify-content: space-around;
}

.lista {
    width: 45%;
    padding: 10px;
    border: 2px solid #00ffcc;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.8);
    margin: 10px;
    overflow-y: auto;
    height: 500px;
}

::-webkit-scrollbar-track {  /*aqui está a estilização do scroll*/
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #009a7b;
}

.lista h2 {
    margin-top: 0;
    color: #00ffcc;
}

.lista-tarefas {
    list-style: none;
    padding: 0; 
}

li {
    padding: 8px;
    margin: 8px 0;
    cursor: pointer;
    border: 2px solid #00ffcc;
    background-color: #333;
}

li.concluida {
    background-color: #00ffcc;
    color: #000;
}

span {
    font-style: italic;
    color: #00ffcc;
}

.neon {
    text-shadow: 0 0 10px rgba(0, 255, 204, 0.8);
}

.lightTheme{
    background-color: #cafff4;
}


